* {
    /*En todos los elementos vamos a aplicar la propiedad box-sizin, es decir, el padding y border se incluirán en el ancho y alto del elemento*/
    box-sizing: border-box;
  } /* Estilo del menú */
  .menusuperior {
    overflow: hidden;
    background-color: #333;
  } /* Estilo de los elementos del menú */
  .menusuperior a {
    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } /* Efecto al situar el ratón encima de los enlaces */
  .menusuperior a:hover {
    background-color: #ddd;
    color: black;
  } /* En pantallas inferiores a 600px, el menú se visualizará verticalmente y sus elementos ocuparán el 100% del ancho */
  @media screen and (max-width: 600px) {
    .menusuperior a {
      float: none;
      width: 100%;
    }
  }
  @media screen and (min-width: 600px){
      .menusuperior a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
  }